@import "normalize";

// -- MIXINS & COLORS--

@mixin exo-thin {
  font-family: 'Exo', sans-serif;
  font-weight: 100;
}

@mixin exo-regular {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
}

@mixin exo-medium {
  font-family: 'Exo', sans-serif;
  font-weight: 500;
}

$color-white: white;
$color-red: #ff6d6d;
$color-dark-gray: #282828;
$color-light: #f6f5f3;
$color-avatar: #4e4e5e;

$mobile: 'only screen and (max-width : 576px)';
$tablet: 'only screen and (max-width : 1024px)';
$desktop: 'only screen and (min-width : 1025px)';

// -- GENERAL --
* {
  box-sizing: border-box;
}

button:hover {
  background: #db5f5f;
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: $color-dark-gray;
  opacity: 0.66;
}

.pretitle {
  font-size: 16px;
  @include exo-medium;
  letter-spacing: 3px;
  color: $color-red;
}

.section-outer {
}

.section-inner {
  margin: 0 auto;
  width: 1180px;
}


// -- HEADER --

.section-header {
  background: url('../images/screen1.png') no-repeat 50% 50%;
  background-size: cover;

  .section-inner {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &-wrapper {
    margin: 0 auto;

    &__title,
    &__play-button,
    &__try-button,
    &__button-description {
      text-align: center;
    }

    &__title {
      @include exo-thin;
      width: 60%;
      font-size: 60px;
      margin: 0 auto 45px;
    }

    &__play-button {
      margin-bottom: 40px;
      cursor: pointer;

      img {
        width: 60px;
        height: 60px;
      }
    }

    &__try-button {
      @include exo-regular;
      font-size: 16px;

      button {
        cursor: pointer;
        width: 190px;
        height: 50px;
        letter-spacing: 3px;
        margin: 0;
        padding: 15px 40px;
        border: none;
        border-radius: 3px;
        background: $color-red;
        color: $color-white;

      }
    }

    &__button-description {
      @include exo-regular;
      font-size: 14px;
      margin-top: 20px;
    }

  }
}


// -- INFO --

.section-info {
  display: flex;

  &-wrapper {
    display: flex;
  }

  &-content {
    padding: 190px 130px 170px 150px;
    @include exo-medium;

    .pretitle {
      padding-bottom: 13px;
    }

    .title {
      font-size: 40px;
      color: $color-dark-gray;
      display: inline;
    }

    .dots {
      display: inline;
      color: $color-red;
      font-size: 40px;
    }

    .text {
      padding-top: 50px;
    }
  }

  img {
    @media #{$tablet} {
      display: none;
    }
  }


}


// -- FEATURES --
.section-features {
  background: url('../images/screen3.png') no-repeat 50% 50%;
  background-size: cover;

  @include exo-medium;
  text-align: center;

  &-content {
    padding-top: 137px;

    .pretitle {
      padding-bottom: 10px;
    }

    .main-title {
      font-size: 40px;
      color: $color-dark-gray;
    }
  }


  &-items {
    margin-top: 80px;
    padding-bottom: 180px;
    display: flex;

    &__item {
      width: 30%;
      margin: 0 30px;

      .icon {
        padding-bottom: 30px;
      }

      .title {
        font-size: 22px;
        color: $color-dark-gray;
        padding-bottom: 15px;
      }
    }
  }
}

// -- DESIGN --

.section-design {
  background: url('../images/screen4.png') no-repeat;
  background-size: cover;

  &-content {

    display: flex;
    @include exo-medium;

    &__image {
      padding: 90px 0;
    }

    &__text {
      padding: 140px 50px;

      .pretitle {
        padding-bottom: 25px;
      }

      .title {
        font-size: 40px;
        color: $color-dark-gray;
        display: inline;
      }

      .dots {
        display: inline;
        color: $color-red;
        font-size: 40px;
      }

      .text {
        margin-top: 30px;
      }
    }
  }
}


// -- REVIEWS --
.section-reviews {
  background: url('../images/screen6.png') no-repeat;
  background-size: cover;

  &__reviews {
    @include exo-medium;
    display: flex;
    text-align: center;

    .review {
      width: 25%;
      padding-top: 110px;
      margin: 0 51px;

      .avatar {
        margin: 0 auto;
        width: 76px;
        height: 76px;
        background: $color-avatar;
      }

      .name {
        font-size: 22px;
        padding-top: 25px;
        padding-bottom: 5px;
        color: $color-white;
      }

      .position {
        font-size: 16px;
        color: $color-red;
      }

      .text {
        @include exo-regular;
        font-style: italic;
        color: white;
        padding-top: 30px;
      }
    }
  }

  &__logos {
    text-align: center;
    padding: 80px 0;
  }
}

// -- NEW FEATURES --

.section-new-features {
  background-color: $color-light;

  .section-inner {
    display: flex;
  }

  &-wrapper {
    @include exo-medium;

    &__title,
    &__text,
    &__image {
      text-align: center;
    }

    &__pretitle {
      margin-top: 100px;
    }

    &__title {
      font-size: 40px;
      line-height: 50px;
      color: $color-dark-gray;
      margin-bottom: 50px;
    }

    &__text {
      width: 55%;
      margin: 0 auto 90px;
    }

    &__image {
      @media #{$tablet} {
        display: none;
      }
    }

  }
}


// -- FORM --

.section-form {
  background: #323969;

  .section-inner {
    display: flex;
    flex-direction: column;
  }

  &-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &-wrapper {
    margin: 0 auto;

    &__pretitle,
    &__title,
    &__tip,
    &__form,
    &__subtitle {
      text-align: center;
      color: white;
      font-size: 16px;
      @include exo-regular;
    }

    &__pretitle {
      margin-top: 100px;
      margin-bottom: 10px;
    }

    &__title {
      @include exo-medium;
      font-size: 40px;
    }

    &__tip {
      div, img {
        display: inline;
      }

      div {
        padding-bottom: 42px;
        position: absolute;
      }

      img {
        padding-bottom: 17px;
        padding-right: 10px;
        padding-top: 5px;
      }

      padding-top: 42px;
      padding-left: 57%;
    }

    &__form {
      display: flex;

      &-input {
        flex: 1;
        padding-right: 30px;

        input {
          width: 100%;
          border: rgba(255, 255, 255, .5) 1px solid;
          border-radius: 3px;
          background: rgba(255, 255, 255, .1);
          padding: 20px 28px;

          &::placeholder {
            color: #ffffff;
          }
        }
      }

      &-button {
        button {
          cursor: pointer;
          border: none;
          border-radius: 3px;
          background: $color-red;
          padding: 20px 90px;
          color: white;
        }
      }
    }

    &__subtitle {
      opacity: 0.6;
      margin-top: 53px;
      margin-bottom: 85px;
    }

  }

}


// -- FOOTER --
.section-footer {
  @include exo-medium;
  background: url('../images/screen7.png') no-repeat 50% 50%;
  background-size: cover;

  .section-inner {
    display: flex;
  }

  &__column {
    padding: 90px 50px;

    .logo {
    }

    &-title {
      font-size: 22px;
    }

    .text {
      @include exo-regular;
      font-size: 14px;
    }

    &-input {
      display: inline;
      padding: 18px 30px;

      input {
        width: 100%;
        border: rgba(78, 78, 94, .1) 1px solid;
        border-radius: 3px;
        background: rgba(141, 141, 141, .1);
        padding: 20px 28px;

        &::placeholder {
          color: rgba(141, 141, 141, .4);
        }
      }
    }

    &-button {
      display: inline;
    }

    &-social {
    }

  }
}