@import "normalize";

// -- MIXINS & COLORS--

@mixin exo-thin {
  font-family: 'Exo', sans-serif;
  font-weight: 100;
}

@mixin exo-regular {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
}

@mixin exo-medium {
  font-family: 'Exo', sans-serif;
  font-weight: 500;
}

$color-white: white;
$color-red: #ff6d6d;
$color-dark-gray: #282828;
$color-light: #f6f5f3;
$color-avatar: #4e4e5e;

// 320 - 576 - 768 - 1024 - 1900
$large-max-1439: '(max-width : 1439px)';
$large-min-1900: '(min-width : 1900px)';


// -- GENERAL -------------------------------------------------------------------------------------------- 0 -
* {
  box-sizing: border-box;
}

button:hover {
  background: #db5f5f;
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: $color-dark-gray;
  opacity: 0.66;
}

.pretitle {
  font-size: 16px;
  @include exo-medium;
  letter-spacing: 3px;
  color: $color-red;
}

.section-inner {
  margin: 0 auto;

  @media (min-width: 1440px) {
    width: 1180px;
  }

  @media (min-width: 1900px) {
    width: 1200px;
  }

  @media (min-width: 1024px) and (max-width: 1439px) {
    width: 960px;
  }

}


// -- HEADER -------------------------------------------------------------------------------------------- 1 -

.section-header {
  background: url('../images/screen1.png') no-repeat 50% 50%;
  background-size: cover;

  .section-inner {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &-wrapper {
    margin: 0 auto;

    &__title,
    &__play-button,
    &__try-button,
    &__button-description {
      text-align: center;
    }

    &__title {
      @include exo-thin;
      font-size: 60px;
      line-height: 75px;
      margin: 0 auto 45px;

      @media (max-width: 768px) {
        font-size: 48px;
        line-height: 60px;
        margin-top: 70px;
      }

      @media (min-width: 600px) {
        width: 60%;
      }

      @media (max-width: 590px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    &__play-button {
      margin-bottom: 40px;
      cursor: pointer;

      img {
        width: 60px;
        height: 60px;
      }
    }

    &__try-button {
      @include exo-regular;
      font-size: 16px;

      button {
        cursor: pointer;
        width: 190px;
        height: 50px;
        letter-spacing: 3px;
        margin: 0;
        padding: 15px 40px;
        border: none;
        border-radius: 3px;
        background: $color-red;
        color: $color-white;

      }
    }

    &__button-description {
      @include exo-regular;
      font-size: 14px;
      margin-top: 20px;
      @media (max-width: 768px) {
        margin-top: 10px;
      }
    }

  }
}


// -- INFO ---------------------------------------------------------------------------------------------- 2 -

.section-info {
  display: flex;
  background: $color-light;

  .section-inner {
    @media #{$large-min-1900} {
      margin-left: 0;
    }
  }

  @media #{$large-max-1439} {
    background: $color-white;
  }

  &-wrapper {
    display: flex;
  }

  &-content {
    background: $color-white;
    padding: 190px 130px 170px 150px;
    @include exo-medium;

    .pretitle {
      padding-bottom: 13px;
    }

    .title {
      font-size: 40px;
      color: $color-dark-gray;
      display: inline;
    }

    .dots {
      display: inline;
      color: $color-red;
      font-size: 40px;
    }

    .text {
      padding-top: 50px;
    }

    @media (max-width: 768px) {
      padding: 100px 50px 100px 70px;
    }
  }

  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 480px 570px;
    border-color: transparent transparent #fb8686 transparent;

    margin-bottom: 0;
    margin-top: auto;

    @media #{$large-min-1900} {
      border-width: 0 0 665px 700px;
    }

    @media #{$large-max-1439} {
      display: none;
    }
  }

}


// -- FEATURES -------------------------------------------------------------------------------------------- 3 -
.section-features {
  background: url('../images/screen3.png') no-repeat 50% 50%;
  background-size: cover;

  @media #{$large-min-1900} {
    background-color: $color-light;
    background-size: contain;
  }

  @media #{$large-max-1439} {
    background: $color-light;
  }

  @include exo-medium;
  text-align: center;

  &-content {
    padding-top: 137px;

    @media (max-width: 650px) {
      padding-top: 90px;
    }

    .pretitle {
      padding-bottom: 10px;
    }

    .main-title {
      font-size: 40px;
      color: $color-dark-gray;
    }
  }


  &-items {
    margin-top: 80px;
    padding-bottom: 180px;
    display: flex;

    @media (max-width: 650px) {
      margin-top: 50px;
    }

    &__item {
      margin: 0 30px;

      .icon {
        padding-bottom: 30px;
      }

      .title {
        font-size: 22px;
        color: $color-dark-gray;
        padding-bottom: 15px;
      }

      @media (min-width: 769px) {
        width: 30%;
      }

      @media (max-width: 768px) {
        width: 60%;
        margin-top: 50px;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }


  }
}

// -- DESIGN ---------------------------------------------------------------------------------------------- 4 -

.section-design {

  .triangle2 {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    top: 2240px;
    border-style: solid;
    border-width: 635px 0 0 605px;
    border-color: transparent transparent transparent #fb8686;

    @media #{$large-min-1900} {
      top: 2390px;
    }

    @media #{$large-max-1439} {
      display: none;
    }
  }

  &-content {
    display: flex;
    @include exo-medium;

    &__image {
      padding: 90px 0;
      @media #{$large-max-1439} {
        display: none;
      }
    }

    &__text {
      padding: 80px 40px;

      .pretitle {
        padding-bottom: 25px;
      }

      .title {
        font-size: 40px;
        color: $color-dark-gray;
        display: inline;
      }

      .dots {
        display: inline;
        color: $color-red;
        font-size: 40px;
      }

      .text {
        margin-top: 30px;
      }

      @media (min-width: 768px) {
        padding: 140px 120px;
      }
    }
  }
}


// -- REVIEWS --------------------------------------------------------------------------------------------- 5 --
.section-reviews {
  background: url('../images/screen6.png') no-repeat;
  background-size: cover;

  &__reviews {
    @include exo-medium;
    display: flex;
    text-align: center;

    .review {
      padding-top: 110px;
      margin: 0 51px;

      .avatar {
        margin: 0 auto;
        width: 76px;
        height: 76px;
        background: $color-avatar;
      }

      .name {
        font-size: 22px;
        padding-top: 25px;
        padding-bottom: 5px;
        color: $color-white;
      }

      .position {
        font-size: 16px;
        color: $color-red;
      }

      .text {
        @include exo-regular;
        font-style: italic;
        color: white;
        padding-top: 30px;
      }

      @media (min-width: 769px) {
        width: 25%;
      }

      @media (max-width: 768px) {
        width: 60%;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__logos {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 80px;
    opacity: .6;

    img {
      padding-right: 100px;

      @media (max-width: 768px){
        padding-top: 30px;
      }
    }

    @media #{$large-max-1439} {
      flex-wrap: wrap;
      padding-top: 25px;
    }
  }
}

// -- NEW FEATURES ------------------------------------------------------------------------------------------- 6 --

.section-new-features {
  background-color: $color-light;

  .section-inner {
    display: flex;
  }

  &-wrapper {
    @include exo-medium;

    &__title,
    &__text,
    &__image {
      text-align: center;
    }

    .pretitle {
      text-align: center;
      margin-top: 100px;
    }

    &__title {
      font-size: 40px;
      line-height: 50px;
      color: $color-dark-gray;
      margin-bottom: 50px;
    }

    &__text {
      width: 55%;
      margin: 0 auto 90px;
    }

    &__image {
      @media #{$large-max-1439} {
        display: none;
      }
    }

  }
}


// -- FORM ---------------------------------------------------------------------------------------------- 7 -

.section-form {
  background: #323969;

  .section-inner {
    display: flex;
    flex-direction: column;
  }

  &-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &-wrapper {
    margin: 0 auto;

    &__title,
    &__tip,
    &__form,
    &__subtitle {
      text-align: center;
      color: white;
      font-size: 16px;
      @include exo-regular;
    }

    .pretitle {
      text-align: center;
      margin-top: 100px;
      margin-bottom: 10px;
    }

    &__title {
      @include exo-medium;
      font-size: 40px;

      @media (max-width: 768px) {
        padding: 0 10px;
      }
    }

    &__tip {
      div, img {
        display: inline;
      }

      div {
        padding-bottom: 42px;
        position: absolute;
      }

      img {
        padding-bottom: 17px;
        padding-right: 10px;
        padding-top: 5px;
      }

      padding-top: 42px;
      padding-left: 57%;

      @media (max-width: 768px) {
        img, div {
          display: none
        }
      }
    }

    &__form {
      display: flex;

      &-input {
        flex: 1;
        padding-right: 30px;

        input {
          width: 100%;
          border: rgba(255, 255, 255, .5) 1px solid;
          border-radius: 3px;
          background: rgba(255, 255, 255, .1);
          padding: 20px 28px;

          &::placeholder {
            color: #ffffff;
          }
        }
        
        @media (max-width: 650px) {
          padding-left: 30px;
        }
      }

      &-button {
        button {
          cursor: pointer;
          border: none;
          border-radius: 3px;
          background: $color-red;
          padding: 20px 90px;
          color: white;
        }
      }

      @media (max-width: 950px) {
        flex-direction: column;
        input, button {
          margin-top: 20px;
        }

      }
    }

    &__subtitle {
      opacity: 0.6;
      margin-top: 53px;
      margin-bottom: 85px;
    }
  }
}


// -- FOOTER -------------------------------------------------------------------------------------------- 8 -
.section-footer {
  @include exo-medium;

  .section-inner {
    display: flex;
    @media (max-width: 950px) {
      flex-direction: column;
      .triangle3 {
        display: none
      }
      input {
        width: 60%;
      }
    }
  }

  &__column {

    .logo {
      margin-bottom: 10px;
      margin-top: 80px;
    }

    &-title {
      font-size: 22px;
      margin-bottom: 27px;

      @media (min-width: 769px) {
        margin-top: 95px;
      }

      @media (max-width: 768px) {
        margin-top: 30px;
      }
    }

    .text {
      display: block;
      font-size: 14px;
      white-space: nowrap;
      line-height: 30px;
    }

    .paragraph {
      width: 270px;
      font-size: 14px;
      line-height: 26px;
      color: $color-dark-gray;
      opacity: 0.66;
    }

    a {
      @include exo-regular;
      font-size: 14px;
    }

    &-input {
      position: relative;
      padding: 0 0 18px;

      input {
        width: 100%;
        height: 51px;
        border: rgba(78, 78, 94, .1) 1px solid;
        border-radius: 3px;
        background: #f6f6f6;
        padding: 18px 28px;

        &::placeholder {
          @include exo-regular;
          font-size: 16px;
          color: rgba(141, 141, 141, .4);
        }

        @media #{$large-max-1439} {
          width: 85%;
        }
      }

      button {
        position: absolute;
        background: url('/images/plane.png') no-repeat $color-red center;
        box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
        width: 50px;
        height: 50px;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        color: white;
      }
    }

    &-social {
      opacity: .5;

      img {
        padding: 0 13px;
      }

      @media (min-width: 1440px) {
        padding-left: 40px;
      }

      @media (min-width: 769px) {
        text-align: center;
      }
    }

    @media (min-width: 900px) {
      margin-bottom: 90px;
    }

  }

  .triangle3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 325px 332px 0;
    border-color: transparent #fb8686 transparent transparent;

    position: absolute;
    right: 0;
    z-index: -2;

    @media #{$large-max-1439} {
      display: none;
    }

  }

  .column1 {
    padding-left: 60px;
    @media (max-width: 768px) {
      margin-left: 30px;
    }

    @media (max-width: 670px) {
      padding: 0;
      margin: 0;
    }
  }

  .column2 {
    padding-left: 40px;

    @media #{$large-max-1439} {
      padding-left: 20px;
    }

    @media (max-width: 768px) {
      margin-left: 10px;
      margin-top: 60px;
    }

    @media (max-width: 670px) {
      padding: 0;
      margin: 0;
    }
  }

  .column3 {
    padding-left: 100px;

    @media #{$large-max-1439} {
      padding-left: 50px;
    }

    @media (max-width: 768px) {
      margin-left: 30px;
      margin-top: 60px;
    }

    @media (max-width: 670px) {
      padding: 0;
      margin: 0;
    }
  }

  .column4 {
    @media (max-width: 768px) {
      margin-bottom: 40px;
      margin-top: 20px;
      padding-left: 15%;
    }

    @media (min-width: 769px) {
      padding-left: 90px;
    }
  }

  .footer_wrapper {
    display: flex;

    @media (max-width: 670px) {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 90px;
    }
  }
}